<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @want.name %>
    </h2>
    <div class='item-img-content'>
      <% if @want.image.present? %>
        <%= image_tag @want.image, class:"item-box-img" %>
      <% else%>
        <%= image_tag "https://1.bp.blogspot.com/-D2I7Z7-HLGU/Xlyf7OYUi8I/AAAAAAABXq4/jZ0035aDGiE5dP3WiYhlSqhhMgGy8p7zACNcBGAsYHQ/s1600/no_image_square.jpg", class: "item-img" %>
      <% end %>
    </div>

    <% if user_signed_in? && current_user.id == @want.user_id %>
    <%= link_to '登録品の編集', edit_want_path(@want.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', want_path(@want.id), method: :delete, class:'item-destroy' %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @want.name %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">詳細</th>
          <td class="detail-value"><%= @want.content %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
          <%= link_to '戻る', root_path(@want.user_id)%>
  </div>

</div>
