<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      トップページ
    </h2>
    <%#= button_to "消耗品登録", {controller: "expendables", action: "new"}, {method: :get, class: 'service-explain'} %>
    <%= link_to(wants_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>すぐ必要なものを登録する</span>
    <% end %>

    <%= link_to(favorites_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>お気に入り登録する</span>
    <% end %>

        <%= link_to(new_expendable_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>消耗品を登録する</span>
    <% end %>
    
    <div class='store-btn'>
      <%#= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%#= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>すぐ必要な物一覧</h2>
    <%= link_to 'すぐ必要な物', "#", class: "subtitle" %>
    <ul class='item-lists'>
    <% if @want.present? %>
      <% @want.each do |want| %>

      <li class='list'>
        <%= link_to want_path(want.id), method: :get do %>
        <div class='item-img-content'>
          <% if want.image.present? %>
            <%= image_tag want.image, class: "item-img" %>
          <%# 商品が売れていればsold outを表示しましょう %>
           <%# @purchase_history.each do |purchase_history| %>
          <%# if item.id == purchase_history.item_id  %>
          <% else%>
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <%#<div class='sold-out'>
            <span>Sold Out!!</span>
          </div>%>
          <% end %>
          <%#<% end %>
          <%# end %>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= want.name %>
          </h3>
          <%#<div class='item-price'>
            <span><%= item.product_price %><%#円<br><%= item.shipping_charge.name %><%#</span>
            <%#<div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <%#<span class='star-count'>0</span>
            </div>
          </div>%>
        </div>
        <% end %>
      </li>
       <% end %>

      <% else %>

        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
               <div class='item-info'>
                    <h3 class='item-name'>
                        商品を出品してね!
                    </h3>          
                     <div class='item-price'>
                      <span>99999999円<br>(税込み)</span>
                        <div class='star-btn'>
                          <%#= image_tag "star.png", class:"star-icon" %>
                              <span class='star-count'>0</span>
                        </div>
                    </div>
                </div>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class='item-contents'>
    <h2 class='title'>お気に入り一覧</h2>
    <%= link_to 'お気に入り', "#", class: "subtitle" %>
    <ul class='item-lists'>
    <% if @favorite.present? %>
      <% @favorite.each do |favorite| %>

      <li class='list'>
        <%= link_to favorite_path(favorite.id), method: :get do %>
        <div class='item-img-content'>
            <%= image_tag favorite.image, class: "item-img" %>
          <%# 商品が売れていればsold outを表示しましょう %>
           <%# @purchase_history.each do |purchase_history| %>
          <%# if item.id == purchase_history.item_id  %>

          <%#<div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%#<% end %>
          <%# end %>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= favorite.name %>
          </h3>
          <%#<div class='item-price'>
            <span><%= item.product_price %><%#円<br><%= item.shipping_charge.name %><%#</span>
            <%#<div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <%#<span class='star-count'>0</span>
            </div>
          </div>%>
        </div>
        <% end %>
      </li>
       <% end %>

      <% else %>

        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
               <div class='item-info'>
                    <h3 class='item-name'>
                        商品を出品してね!
                    </h3>          
                     <div class='item-price'>
                      <span>99999999円<br>(税込み)</span>
                        <div class='star-btn'>
                          <%#= image_tag "star.png", class:"star-icon" %>
                              <span class='star-count'>0</span>
                        </div>
                    </div>
                </div>
            <% end %>
        </li>
    
      <% end %>

    </ul>
  </div>

      <div class='item-contents'>
    <h2 class='title'>消耗品一覧</h2>
    <%= link_to '消耗品', "#", class: "subtitle" %>
    <ul class='item-lists'>
    <% if @expendable.present? %>
      <% @expendable.each do |expendable| %>

      <li class='list'>
        <%= link_to expendable_path(expendable.id), method: :get do %>
        <div class='item-img-content'>
          <% if expendable.image.present? %>
            <%= image_tag expendable.image, class: "item-img" %>
          <%# 商品が売れていればsold outを表示しましょう %>
           <%# @purchase_history.each do |purchase_history| %>
          <%# if item.id == purchase_history.item_id  %>
            <% else%>
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <%#<div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%#<% end %>
          <%# end %>
          <%# //商品が売れていればsold outを表示しましょう %>
            <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= expendable.name %>
          </h3>
          <%#<div class='item-price'>
            <span><%= item.product_price %><%#円<br><%= item.shipping_charge.name %><%#</span>
            <%#<div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <%#<span class='star-count'>0</span>
            </div>
          </div>%>
        </div>
        <% end %>
      </li>
       <% end %>

      <% else %>

        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
               <div class='item-info'>
                    <h3 class='item-name'>
                        商品を出品してね!
                    </h3>          
                     <div class='item-price'>
                      <span>99999999円<br>(税込み)</span>
                        <div class='star-btn'>
                          <%#= image_tag "star.png", class:"star-icon" %>
                              <span class='star-count'>0</span>
                        </div>
                    </div>
                </div>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%#= link_to(new_item_path, class: 'purchase-btn') do %>
  <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<%# end %>
<%#= render "shared/footer" %>