<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @favorite.name %>
    </h2>
    <div class='item-img-content'>
      <% if @favorite.image.present? %>
        <%= image_tag @favorite.image, class:"item-box-img" %>
      <% else%>
        <%= image_tag "https://1.bp.blogspot.com/-D2I7Z7-HLGU/Xlyf7OYUi8I/AAAAAAABXq4/jZ0035aDGiE5dP3WiYhlSqhhMgGy8p7zACNcBGAsYHQ/s1600/no_image_square.jpg", class: "item-img" %>
      <% end %>
    </div>


    <% if user_signed_in? && current_user.id == @favorite.user_id %>
    <%= link_to '登録品の編集', edit_favorite_path(@favorite.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', favorite_path(@favorite.id), method: :delete, class:'item-destroy' %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @favorite.name %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">情報</th>
          <td class="detail-value"><%= @favorite.content %></td>
        </tr>
        <tr>
          <th class="detail-item">消費期間</th>
          <td class="detail-value"><%= @favorite.updated_at.to_date + @favorite.period%>まで</td>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? && current_user.id == @favorite.user_id %>
    <%= link_to '登録品の更新', "#", method: :get, class: "item-red-btn" %>
    <% end %>
    <div class="option">
          <%= link_to '戻る', root_path(@favorite.user_id)%>
  </div>

</div>
